body{
    margin: 0;
    padding: 0;
    background-color: rgb(82, 117, 90);
}
.loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    color: rgb(82, 117, 90);
}
.login{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    font-family: sans-serif;
    border-radius: 10px;
}
#logo{
    margin-top: 80px;
    text-align: center;
}
.creddiv{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#name,#pass{
    width: 300px;
    /* height: 50px; */
    font-size:1.1rem;
     padding: 4px 3px 1px;    /* top | left/right | bottom */
    border: none;
    border-bottom: 2px solid rgb(82, 117, 90);
    outline: none;
    /* color: rgb(82, 117, 90); */
}
#name::placeholder, #pass::placeholder{
    color: rgb(82, 117, 90);
    opacity: .8;
}
#check{
    margin-top: 10px;
    color: rgb(82, 117, 90);
    border: none;
    background-color: rgb(82, 117, 90);
    accent-color: rgb(82, 117, 90);
}
#btn{
    width: 90px;
    height: 35px;
    background-color: rgb(82, 117, 90);
    border: none;
    border-radius:4px;
    color: white;
    /* margin-top: 15px; */
    &:hover{
        background-color: rgb(52, 75, 58);
    }
}