    @font-face {
        font-family: 'PixelFont'; 
        src: url('BoldPixels.ttf') format('truetype'); 
        /* src: url('D:/Downloads/boldpixels/BoldPixels.ttf') format('woff'); */
    }


* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /* font-family: 'PixelFont', sans-serif; */
    
    background-color: rgb(82, 117, 90);
    
}

.navbar{
    background-color: rgb(82, 117, 90);
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav{
    top: 0;
    display: flex;
    gap: 50px;
    margin-right: 40px;
    margin-top: 25px;
    /* padding: 10px;
    margin-left: 200px; */   
}

.nav li{
    list-style: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    font-weight:600;
}

.nav a{
    text-decoration: none;
    color: white;
}   

.nav li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav li:hover{
    animation: bottom .5s smooth;
    bottom: 5px;
    
} 
.nav li:hover::after{
    width: 100%;
}
.navback{
    background-color: rgb(82, 117, 90);
    display: flex;
    /* position: absolute; */
    /* left: 10px; */
}
#crossicon{
    display: none;
}
#menubar{
    display: none;
}
.logo{
    height: 60px;
    margin-top: 15px;
}

.bgimg{
    background-image: url(/images/bg.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}


.draw-btn{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #ea7226;
    border-radius: 10px;
    background-color: #ea7226;
    box-shadow:  2px 2px #ea7226;
}

.draw-btn:hover{
    border: 2px solid #ea7226;
    box-shadow: 5px 5px #ea7226;
}

.draw-btn button{
    font-family: 'PixelFont', sans-serif;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: #ffc001;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
    
}


.auth-btns {
    margin-top: 5vh; 
    display: flex;
    justify-content: center;
    gap: 30px;
}

.auth {
    font-family: 'PixelFont', sans-serif;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 24px;
    
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #ea7226;
    background-color: #ffc001;
    box-shadow: 2px 2px #ea7226;
}

.auth.register {
    
    background-color: white;
    color: #ea7226
}
.auth.login {
    color: white;
    background-color: #ffc001;
}

.auth:hover {
    border: 2px solid #ea7226;
    box-shadow: 5px 5px #ea7226;
}


footer {
    margin-top: 20px;
    position: relative;
    /* z-index: 1; */
}

#welcome-paragraph{
    font-family: 'PixelFont', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    /* margin-bottom: 20px; */
    margin: 20px 200px;    
}
/* #welcome-paragraph p{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    } */
    
    #msg-spritee {
        font-family: 'PixelFont', sans-serif;
        color: #ffc001;
    }
    
    
   
    
    @media (max-width: 900px) {
        .navbar{
            background-color: transparent;
            box-shadow: 0 0 0 0;
        }
        .navback{
            position: absolute;
            height: 100vh;
            width: 200px;
            /* right: -1px; */
            z-index: 10000;
            right: -200px;
            transition: right .5s;
        }
        #crossicon{
            display: block;
            height: 25px;
            position: relative;
            left: 155px;
            top: 15px;
            cursor: pointer;
        }
        .nav li:hover{
            bottom: 1px;
        }
        .nav li::after{
            content: none;
        }
        #menubar{
            display: block;
            background-color: rgb(82, 117, 90);
            height: 30px;
            margin-top: 20px;
            margin-right: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .nav{
            flex-direction: column;
            margin-top: 80px;
            margin-left: 10px;
        }
        
    }

    #copyright {
        /* font-family: 'PixelFont', sans-serif; */
        font-size: 14px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }