@font-face {
    font-family: 'PixelFont';
    src: url('BoldPixels.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(82, 117, 90);
}

/* NAVBAR */
.navbar {
    background-color: rgb(82, 117, 90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.logo {
    height: 60px;
    margin: 10px 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}


.nav a {
    text-decoration: none;
    color: white;
}

.nav li {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.nav li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.nav li:hover::after {
    width: 100%;
}

/* USER DROPDOWN */
.user-menu {
    position: relative;
}

.username {
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}


.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    background-color: #fefefe;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    z-index: 2000;
}


.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(82, 117, 90);
    font-weight: bold;
}

.dropdown a:hover {
    background-color: rgb(82, 117, 90);
    color: white;
}

/*hover functionality*/
/* .user-menu:hover .dropdown {
    display: block;
} */

/* HERO */
.bgimg {
    background-image: url(images/bg.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
}

/* DRAW BUTTON */
.draw-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ea7226;
    padding: 5px;
    border-radius: 10px;
}

.draw-btn button {
    font-family: 'PixelFont', sans-serif;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background: #ffc001;
    color: white;
    cursor: pointer;
}

/* AUTH BUTTONS */
.auth-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.auth {
    font-family: 'PixelFont', sans-serif;
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ea7226;
    background: #ffc001;
}

.auth.register {
    background: white;
    color: #ea7226;
}

/* FOOTER */
footer {
    margin-top: 40px;
    text-align: center;
}

#welcome-paragraph {
    font-family: 'PixelFont', sans-serif;
    font-size: 28px;
    color: white;
    margin: 20px 100px;
}

#msg-spritee {
    color: #ffc001;
}

#copyright {
    color: white;
    margin-bottom: 20px;
}